/* stylelint-disable selector-list-comma-newline-after */
:root {
  --blue: blue;
}


.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif
    /*rtl:Amiri, Georgia, "Times New Roman", serif*/
  ;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif
    /*rtl:Amiri, Georgia, "Times New Roman", serif*/
  ;
}

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination>.btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}

.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  /* color: #727272; */
  text-align: center;
  background-color: #f9f9f9;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

a.link-secondary {
  text-decoration: none;
}

a.link-secondary:hover {
  text-decoration: underline;
  color: var(--blue);
}

.bg-banner {
  /* background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */

  /* background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); */

  /* background-color: #FAD961;
  background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%); */

  /* background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%); */

  /* background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%); */

  /* background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */

  /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */

  background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
}

.point-color {
  /* font-size: 72px; */
  background: -webkit-linear-gradient(#2197db, #0cebeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Heartbeat animation with color change */
@keyframes heartbeat {
  0% {
    transform: scale(1);
    color: #e74c3c;
    /* Initial color */
  }

  20% {
    transform: scale(1.1);
    color: #f39c12;
    /* Color at the peak of the heartbeat */
  }

  40% {
    transform: scale(1);
    color: #e74c3c;
  }

  60% {
    transform: scale(1.1);
    color: #f39c12;
  }

  80% {
    transform: scale(1);
    color: #e74c3c;
  }

  100% {
    transform: scale(1);
    color: #eb2711;
  }
}

.heartbeat-text {
  /* font-size: 3rem; */
  /* animation: heartbeat 1.5s infinite; */
  display: inline-block;
  color: #20e3b2;
}